.forceCommunityRecordHeadline {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  padding: 0px;
  /* border-bottom: 4px solid #cc0000; */
}

.forceCommunityRecordHeadline .slds-grid.slds-page-header__detail-row {
  border-top: 1px dashed #dddddd;
}

.slds-tabs_default.js-tabset.forceCommunityTabLayout {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
}
.slds-tabs_default.js-tabset.forceCommunityTabLayout .forceCommunityRecordHomeTabs .recordHomePrimaryContent {
  /* background: #ffcc20; */
  width: 100%;
}

.forceCommunityRecordHeadline .secondaryFields p.slds-text-title.slds-truncate {
  text-transform: uppercase;
  min-width: 110px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
}

.slds-form-element.slds-hint-parent.test-id__output-root.slds-form-element_readonly.is-stacked.is-stacked-not-editing {
  border-bottom: 1px solid #ddd;
}

.slds-form-element.slds-hint-parent.test-id__output-root.slds-form-element_readonly.is-stacked.is-stacked-not-editing
  .slds-form-element__control
  img[alt="SLA3"] {
  height: auto !important;
  width: 132px !important;
  margin-bottom: 4px !important;
}

.slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li button {
  border-color: #dddddd !important;
}

.slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li:nth-child(1) button {
  background: #35363b;
  color: #fff;
}
.slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li:nth-child(2) button {
  background: #cc0000;
  color: #fff;
}

h3.test-id__section-header-container.slds-section__title button {
  background: #f2f2f2;
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
}
