.forceCommunityRecordHeadline {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  /* border-bottom: 4px solid #cc0000; */
}

/* Hide em View Dados Perfil Ex. CPF */

records-record-layout-item[field-label="Nome completo"] {
  display: none;
}
records-record-layout-item[field-label="Email"] {
  display: none;
}
records-record-layout-item[field-label="CPF"] {
  display: none;
}
records-record-layout-item[field-label="Telefone"] {
  display: none;
}
records-record-layout-item[field-label="Celular"] {
  display: none;
}
records-record-layout-item[field-label="CNPJ"] {
  display: none;
}

.slds-modal records-record-layout-item[field-label="Nome completo"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Nome completo"] {
  background: #fffdee;
  display: block;
}

.slds-modal records-record-layout-item[field-label="Email"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Email"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="CPF"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="CPF"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="Telefone"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Telefone"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="Celular"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Celular"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="CNPJ"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="CNPJ"] {
  background: #fffdee;
  display: block;
}

/* Fim controle de Show / Hide Edit / views alguns campos,CPF etc.. */

button[type="button"]:contains("Clonar") {
  background: #f9f9f9 !important;
}

/* COMPACT LAYOUT PARCIAL */
.forceCommunityRecordHeadline .slds-grid.slds-page-header__detail-row {
  border-top: 1px dashed #dddddd;
  top: -1px;
}
/* Reduzindo paddind dos campos do Compact Layout */
.slds-page-header__detail-block {
  --lwc-spacingXLarge: 12px !important;
  padding-right: var(--lwc-spacingXLarge, 0rem);
  padding-left: var(--lwc-spacingXLarge, 0rem);
  max-width: 260px !important;
  /* width: calc(16.33332% - 20px); */
  /* border: 1px solid #ddd; */
}

.forceCommunityRecordHeadline .secondaryFields p.slds-text-title.slds-truncate {
  text-transform: uppercase;
  /* min-width: 110px; */
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

.slds-tabs_default.js-tabset.forceCommunityTabLayout {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
}
.slds-tabs_default.js-tabset.forceCommunityTabLayout .forceCommunityRecordHomeTabs .recordHomePrimaryContent {
  width: 100%;
}

.slds-form-element.slds-hint-parent.test-id__output-root.slds-form-element_readonly.is-stacked.is-stacked-not-editing {
  border-bottom: 1px solid #ddd;
}

.slds-form-element.slds-hint-parent.test-id__output-root.slds-form-element_readonly.is-stacked.is-stacked-not-editing .slds-form-element__control img[alt="SLA3"] {
  height: auto !important;
  width: 132px !important;
  margin-bottom: 4px !important;
}

.slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li button {
  border-color: #dddddd !important;
}

.slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li:nth-child(1) button {
  background: #ffffff;
  color: #333;
}
/* .slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li:nth-child(2) button {
  background: #f2f2f2;
  color: #333;
} */

h3.test-id__section-header-container.slds-section__title button {
  background: #f2f2f2;
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
}
