.forceCommunityRecordHeadline {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  /* border-bottom: 4px solid #cc0000; */
}

/* Hide em View Dados Perfil Ex. CPF */

records-record-layout-item[field-label="Nome completo"] {
  display: none;
}
records-record-layout-item[field-label="Email"] {
  display: none;
}
records-record-layout-item[field-label="CPF"] {
  display: none;
}
records-record-layout-item[field-label="Telefone"] {
  display: none;
}
records-record-layout-item[field-label="Celular"] {
  display: none;
}
records-record-layout-item[field-label="CNPJ"] {
  display: none;
}

.slds-modal records-record-layout-item[field-label="Nome completo"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Nome completo"] {
  background: #fffdee;
  display: block;
}

.slds-modal records-record-layout-item[field-label="Email"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Email"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="CPF"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="CPF"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="Telefone"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Telefone"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="Celular"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="Celular"] {
  background: #fffdee;
  display: block;
}
.slds-modal records-record-layout-item[field-label="CNPJ"],
.form-legend-desktop.record-layout-inline-edit + div records-record-layout-item[field-label="CNPJ"] {
  background: #fffdee;
  display: block;
}

/* Fim controle de Show / Hide Edit / views alguns campos,CPF etc.. */

button[type="button"]:contains("Clonar") {
  background: #f9f9f9 !important;
}

/* COMPACT LAYOUT PARCIAL */
.forceCommunityRecordHeadline .slds-grid.slds-page-header__detail-row {
  border-top: 1px dashed #dddddd;
  top: -1px;
}

/* Mudança da Cor do Ícone do layout compacto */
.forceCommunityRecordHeadline span.record-avatar-container.slds-avatar.slds-avatar_medium.icon.slds-m-right_small {
  background-color: #cc0000 !important;
  border-radius: 3px;
}

/* Reduzindo paddind dos campos do Compact Layout */
.slds-page-header__detail-block {
  --lwc-spacingXLarge: 12px !important;
  padding-right: var(--lwc-spacingXLarge, 0rem);
  padding-left: var(--lwc-spacingXLarge, 0rem);
  max-width: 260px !important;
  /* width: calc(16.33332% - 20px); */
  /* border: 1px solid #ddd; */
}

.forceCommunityRecordHeadline .secondaryFields p.slds-text-title.slds-truncate {
  text-transform: uppercase;
  /* min-width: 110px; */
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

.slds-tabs_default.js-tabset.forceCommunityTabLayout {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
}
/* deixa a página 100% de detelhes do Lead */
.slds-tabs_default.js-tabset.forceCommunityTabLayout .forceCommunityRecordHomeTabs .recordHomePrimaryContent {
  width: 100%;
}

/* Início Leads Messenger */
.cMyHonda_whatsappRecordEdit {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.cMyHonda_whatsappRecordEdit {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: rgb(205 252 201 / 23%);
}
.cMyHonda_whatsappRecordEdit .conversationSide {
  background: transparent !important;
}

.cMyHonda_WhatsappChatUtils.cMyHonda_WhatsappChat {
  background: transparent !important;
}
.cMyHonda_WhatsappChat .conversationChat {
  background: #fff;
  border-radius: 4px;
  border: 1px dashed #ddd;
  margin-top: 1rem;
}
.cMyHonda_WhatsappChat div.borderColorDivisor {
  display: none;
}

.cMyHonda_WhatsappChat .writeAreaChat div {
  padding: 1rem 0;
  align-items: center;
}
.cMyHonda_WhatsappChat .inputDiv input {
  min-width: 300px;
}

.conversationChat .slds-chat-list {
  border-bottom: 1px dashed #ddd;
  height: 78px !important;
}

.cMyHonda_WhatsappChat .lineWhatsIcons {
  margin: 0;
  padding: 0 1rem;
}
/* Fim Leads Messenger */

.slds-form-element.slds-hint-parent.test-id__output-root.slds-form-element_readonly.is-stacked.is-stacked-not-editing {
  border-bottom: 1px solid #ddd;
}

.slds-form-element.slds-hint-parent.test-id__output-root.slds-form-element_readonly.is-stacked.is-stacked-not-editing .slds-form-element__control img[alt="SLA3"] {
  height: auto !important;
  width: 132px !important;
  margin-bottom: 4px !important;
}

.slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li button {
  border-color: #dddddd !important;
}

.slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li:nth-child(1) button {
  background: #ffffff;
  color: #333;
}
/* .slds-col.slds-no-flex.slds-grid.slds-grid_vertical-align-center.horizontal.actionsContainer div ul li:nth-child(2) button {
  background: #f2f2f2;
  color: #333;
} */

h3.test-id__section-header-container.slds-section__title button {
  background: #f2f2f2;
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
}

/* Remover o Ícon + button de editar do campo em Leads com Pseu-Elemento Sobrepondo o click */
records-record-layout-item[field-label="Status"] .slds-form-element__control button,
records-record-layout-item[field-label="Proprietário"] .slds-form-element__control button {
  display: none;
}

records-record-layout-item[field-label="Status"],
records-record-layout-item[field-label="Proprietário"] {
  /* background: #ffcc30; */
  position: relative;
}

records-record-layout-item[field-label="Status"]:after,
records-record-layout-item[field-label="Proprietário"]:after {
  background: rgb(70 7 195 / 0%);
  content: "";
  display: block;
  width: 100%;
  height: 46px;
  margin-top: 0;
  border-radius: 4px 4px 0 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

/* Hide backdrop overlat opacity nth-child(2) */
/* .slds-backdrop.slds-backdrop_open:nth-child(2) {
  display: none;
} */
