html.slds-no-wcag body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  /* font-size: 1rem; */
}

body .forceCommunitySearchBox .search-button {
  border-radius: 0 4px 4px 0px;
}

body .cNotifications .unsNotificationsCounter .slds-button_icon {
  color: #cc0000;
}

/* Structure */
.card-opp {
  width: 100%;
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dddddd;
  padding: 1rem;
}

.card-cta-calendar {
  max-width: calc(1232px - 2.25rem);
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.subheader-actions-list-view {
  max-width: calc(1232px - 2.25rem);
  margin: 1rem auto 0rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* force - changing standard structure SF Exper. Cloud */
body .siteforceServiceBody .cHeaderOverlay {
  background: #f2f2f2;
  height: 170px;
}

body .forceCommunityGlobalNavigation .slds-list__item a {
  padding: 1rem;
}
div[data-region-name="header"] {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 1rem 0;
}

.search-container .search-field-wrapper {
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 4px;
}

.forceCommunitySearchBox .search-button {
  width: 128px;
  height: 100%;
  border-radius: 0 4px 4px 0;
}

nav.slds-has-flexi-truncate ul {
  max-width: calc(1232px - 2.25rem);
  margin: auto;
}

nav.slds-has-flexi-truncate ul li button,
nav.slds-has-flexi-truncate ul li > a {
  text-transform: uppercase;
  font-size: 0.8rem;
}

nav.slds-has-flexi-truncate ul li > a:hover,
nav.slds-has-flexi-truncate ul li > button:hover {
  background: #000 !important;
  color: #fff !important;
}

.slds-list_vertical.slds-has-flexi-truncate a {
  font-size: 0.8rem !important;
  color: #f2f2f2 !important;
  background: #333 !important;
  border-bottom: none !important;
}

.slds-list_vertical.slds-has-flexi-truncate li {
  margin-bottom: 0 !important;
}

/* Components LWC Card List View Home */
.lead-name .custom-button-name > .slds-button,
.leads-header .slds-button,
.leads-footer button.slds-button {
  color: #cc0000;
  line-height: 1.2;
  text-align: left;
}

.leads-header .slds-button {
  font-size: 14px;
}

.lead-name .custom-button-name > .slds-button:hover,
.leads-header .slds-button:hover {
  color: #8d0000;
}

/*[kx-scope=button][kx-type=underline]:after, */
.lead-name .custom-button-name > .slds-button:after,
.leads-header button.slds-button:after,
.leads-footer button.slds-button:after {
  background: #8d0000 !important;
}

.lead-actions button.slds-button_brand {
  font-size: 0.75rem;
}

.lead-actions .disabled button.slds-button_brand {
  background-color: #dddddd;
  color: #bbb4b4;
  border: none;
}

button.slds-button.slds-button_brand:hover {
  background: #35363b;
  transition: all 0.2s ease;
}

/* LWC Subheader Actions Home - Force CSS */
.c-action-subheader button {
  text-transform: uppercase;
  font-weight: bold;
}

.c-action-subheader button .slds-button__icon {
  position: relative;
  top: -1px;
}

/* ícone cad opp */
.c-criar-opp .slds-modal__container .slds-icon-utility-info .slds-icon_large {
  width: 20px;
  height: 20px;
  fill: #0b5cab;
}

/* mudança da posição do icon date picker */

.campo-date .slds-input-has-icon .slds-input__icon {
  top: 33%;
}

/* .c-criar-opp .slds-modal__footer .slds-button_neutral{
    background-color: #35363B;
    border-color: #35363B;
    color: #fff;
} */

/*  Change Color Icon Event Page */
.slds-icon-standard-event {
  --slds-c-icon-color-background: #555555;
}

@media (max-width: 768px) {
  /* force width 100% buttons actions subheader*/
  lightning-button.c-action-subheader {
    width: 100%;
  }
  .sub-header-container .buttons-container lightning-button.c-action-subheader button {
    width: 100%;
  }
}

/* LIST VIEW STANDARD CHANGES */
.test-listViewManager {
  /* --lwc-borderRadiusMedium: 4px;
  --slds-c-card-spacing-blockend: 1rem;
  --slds-c-card-spacing-block-start: 1rem; */

  padding: 1rem;
  border-radius: 4px !immportant;
  border: 1px solid #ddd !important;
}

/* FIM LIST VIEW CHANGES */

/* CSS Global Edson */
/**
 * myHonda 2.0
 * definição de estilos padrão da Comunidade
 */
/*@import url('/resource/myH2_Community_Style?v1');*/

:host {
  --lwc-colorBorder: #dddddd !important;
  --lwc-progressColorBorderActive: #cc0000 !important;
  --slds-c-modal-footer-color-background: #f2f2f2 !important;
}

/* tira o fundo branco das páginas */
.siteforceServiceBody .siteforceContentArea {
  background: none !important;
}

/**
 * myH2-container
 */
/*define o container geral do componente */
.myH2-container {
  margin: 0 0.35rem;
  width: 1152px;
}

/* define as caixas de conteúdo padrão */
.myH2-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 0 auto 20px auto;
  overflow: hidden;
  width: 100%;

  /* define o espaço entre o conteúdo e a borda do box  */
  & .inside {
    padding: 1rem;
  }

  /**
		 * HEADER
		 */
  &.header {
    & .inside {
      color: #c00;
      font-weight: bold;
    }
    & .top {
      background-color: #f9f9f9;
      border-bottom: 1px dashed #dddddd;
      color: #000000;
    }
    & div.title,
    lightning-icon,
    ul {
      display: inline-block;
      vertical-align: middle;
    }
    & lightning-icon {
      background: #c00;
      margin-right: 0.5rem;
    }
    & h1 {
      color: #262626;
      font-size: 1rem;
      line-height: 1.1rem;
    }
    & h2 {
      color: #c00;
      font-size: 0.7rem;
    }

    & .actions {
      float: right;
      margin: 0.15rem 0 0 1rem;
    }
    /* define o estilo dos botões  */
    & .actions lightning-button button {
      border-color: #ddd;
      border-radius: 0;
      border-right: none;
      color: #c00;
    }
    & .actions lightning-button:first-child button {
      border-bottom-left-radius: var(--slds-c-button-radius-border, 0.25rem);
      border-top-left-radius: var(--slds-c-button-radius-border, 0.25rem);
    }
    & .actions lightning-button:last-child button {
      border-bottom-right-radius: var(--slds-c-button-radius-border, 0.25rem);
      border-top-right-radius: var(--slds-c-button-radius-border, 0.25rem);
      border-right: 1px solid #ddd;
    }
    & ul {
      margin-right: 3rem;

      & li:first-child {
        color: #8d8d8d;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
      & li:last-child {
        color: #c00;
        font-size: 0.9rem;
        font-weight: 700;
      }
    }
  }

  /**
		* CONTENT
		*/
  &.content {
    & p {
      margin-bottom: 1rem;
    }
  }

  /**
		* FOOTER
		*/
  &.footer {
    /* TO BE DEFINED */

    /* Exemplo */
    & .inside {
      text-align: center;
    }
  }
}

/* Badges para SLA */
.sla-badge {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 2.5rem;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;

  &.success {
    background-color: #ccffb4;
    color: #2f9001;
  }
  &.warning {
    background-color: #ffe7b8;
    color: #db9000;
  }
  &.danger {
    background-color: #ffcbcb;
    color: #850000;
  }
}

/**
 * Accordion
 */
.slds-accordion__list-item {
  border-top: 0 !important;
  margin-bottom: 1.5rem;
}
.slds-accordion__list-item:last-child {
  margin-bottom: 0;
}
.slds-accordion__summary {
  background-color: #f2f2f2 !important;
  border-radius: 0.35rem;
  padding: 0.55rem 0.75rem;
}
lightning-accordion-section:lastchild .slds-accordion__summary {
  padding-bottom: 0;
}
.slds-accordion__content {
  padding: 1rem 0 0;
}

/**
 * MODAL
 */
.slds-modal__header h2 {
  font-weight: bold;
}

.slds-modal__content {
  &.slds-p-around_medium {
    /* padding: 2rem 1rem !important; */
  }

  & .title-step {
    color: #cc0000;
    font-size: 20px;
    padding-top: 30px;
    font-weight: bold;
  }
}
