html.slds-no-wcag body{
    font-family: Helvetica, "Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
}

/* Structure */
.card-opp{
    width: 100%;
    min-height:300px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dddddd;
    padding:1rem;
}

.card-cta-calendar{
    max-width: 1232px;
    margin: 0 auto;
}

.subheader-actions-list-view{
    max-width: 1232px;
    margin: 0 auto;
}


/* force - changing standard structure SF Exper. Cloud */
body .siteforceServiceBody .cHeaderOverlay{
    background: #f2f2f2;
    height:170px;
}

body .forceCommunityGlobalNavigation .slds-list__item a{
    padding:1rem;
}
div[data-region-name='header'] {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 1rem 0;
}

nav.slds-has-flexi-truncate ul {
    max-width: calc(1232px - 2.25rem);
    margin: auto;
}

nav.slds-has-flexi-truncate ul li button, 
nav.slds-has-flexi-truncate ul li > a{
    text-transform: uppercase;
}

nav.slds-has-flexi-truncate ul li > a:hover{
    background:#000 !important;
}