html.slds-no-wcag body{
    font-family: Helvetica, "Helvetica Neue",Arial,sans-serif;
    /* font-size: 1rem; */
}

body .forceCommunitySearchBox .search-button {
    border-radius: 0 4px 4px 0px;
}

body .cNotifications .unsNotificationsCounter .slds-button_icon{
    color: #cc0000;
}

/* Structure */
.card-opp{
    width: 100%;
    min-height:300px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dddddd;
    padding:1rem;
}

.card-cta-calendar {
    max-width: calc(1232px - 2.25rem);
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.subheader-actions-list-view{
    max-width: calc(1232px - 2.25rem);
    margin: 1rem auto 0rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}


/* force - changing standard structure SF Exper. Cloud */
body .siteforceServiceBody .cHeaderOverlay{
    background: #f2f2f2;
    height:170px;
}

body .forceCommunityGlobalNavigation .slds-list__item a{
    padding:1rem;
}
div[data-region-name='header'] {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.search-container .search-field-wrapper {
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 4px;
}

.forceCommunitySearchBox .search-button {
    width: 128px;
    height: 100%;
    border-radius: 0 4px 4px 0;
}

nav.slds-has-flexi-truncate ul {
    max-width: calc(1232px - 2.25rem);
    margin: auto;
}

nav.slds-has-flexi-truncate ul li button, 
nav.slds-has-flexi-truncate ul li > a{
    text-transform: uppercase;
    font-size:0.8rem;
}

nav.slds-has-flexi-truncate ul li > a:hover, 
nav.slds-has-flexi-truncate ul li > button:hover {
    background:#000 !important;
    color: #fff !important;
}

/* Components LWC Card List View Home */
.lead-name .custom-button-name > .slds-button,
.leads-header .slds-button{
    color: #cc0000;
}

.leads-header .slds-button{
    font-size: 14px;
}

.lead-name .custom-button-name > .slds-button:hover,
.leads-header .slds-button:hover{
    color: #8d0000;
}

/*[kx-scope=button][kx-type=underline]:after, */
.lead-name .custom-button-name > .slds-button:after,
.leads-header .slds-button:after{
    background: #8d0000;
}
